body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url('assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-size: 18px;
  
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  font-size: 20px;
  padding:5px 18px;
  float:right;
}
.topbar{
  height:40px;
  background-color: #555;
}
.title{
  background-color: #777;
  text-shadow: 3px 3px red;
  color: blanchedalmond;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.addDancerButton{
  text-decoration-line: underline;
  cursor: pointer;s
}

.blinky{
  border:30px solid greenyellow;
  border-radius: 30px;
}

.bouncy{
  border:50px solid rgb(255, 47, 238);
  border-radius: 0px;
}

.surprise{
  border:0px;
}

.surprisePhoto{
  height: 120px;
  width: 80px;
}